<h1>ConsulMed</h1>

<% if user_signed_in?  %>
  <span>Olá, </span><%= current_user.email %>
<p></p>
<p><%= link_to "Ver Consultas Agendadas", appointments_path %></p>
<p><%= link_to "Registrar Médico", new_doctor_path %></p>
<p><%= link_to "Registrar Paciente", new_patient_path %></p>
<p><%= link_to "Marcar Consulta", new_appointment_path %></p>
<p><%= link_to "Lista de Médicos", doctors_path %></p>
<p><%= link_to "Lista de Pacientes", patients_path %></p>
  <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
