<h1>Schedule your Appointment</h1>

<% if user_signed_in?  %>
  <p><%= link_to "Registrar Médico", new_doctor_path %></p>
  <p><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></p>
  <span>Hello, </span><%= current_user.email %>
<% else %>
  <%= link_to 'Sign in', new_user_session_path %>
  <%= link_to 'Sign up', new_user_registration_path %>
<% end %>
