<h1>Atualizar Cadastro</h1>
<%= form_for @patient do |f| %>
  <div>
    <%= f.label :name, 'Nome' %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :cpf, 'CPF' %>
    <%= f.text_field :cpf, minlength: "4", maxlength: "11", required: true %>
  </div>
  <div>
    <%= f.label :birth_date, 'Data de Nascimento' %>
    <%= f.text_field :birth_date %>
  </div>
  <div>
    <%= f.submit 'Salvar' %>
    <p><%= link_to 'Retornar ao menu principal', root_path %></p>
  </div>
<% end %>
